<h1>Minter-Burner dApp</h1>
<div >

<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid ">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item" *ngIf="!isloggedin">
          <a class="nav-link" (click)="login()">Login</a>
        </li>
        <li class="nav-item" *ngIf="isloggedin">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        
        <li class="nav-item" *ngIf="isloggedin">
          <a class="nav-link" routerLink="/mint">Mint Tokens</a>
        </li>
        <li class="nav-item" *ngIf="isloggedin">
          <a class="nav-link" routerLink="/burn">Burn Tokens</a>
        </li>
        <li class="nav-item" *ngIf="isloggedin">
          <a class="nav-link" routerLink="/transfer">Transfer Tokens</a>
        </li>
        <li class="nav-item" *ngIf="isloggedin">
          <a class="nav-link" routerLink="/tx_history">Tx history</a>
        </li>
        <li class="nav-item" *ngIf="isloggedin">
          <a class="nav-link" routerLink="/addwallet">Add Wallet</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
</div>

<router-outlet></router-outlet>